<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slide2Doc</title>
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="_content/Microsoft.AspNetCore.Components.Web/favicon.ico" rel="icon" />
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/download.js"></script>
</body>
</html>
