<nav class="nav-menu">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Upload</NavLink></li>
        <li><NavLink href="/mapping">Mapping</NavLink></li>
        <li><NavLink href="/generate">Generate</NavLink></li>
    </ul>
</nav>
